*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
    background:cornflowerblue;
    font-family:sans-serif;
}

a{
    text-decoration:none;
    padding:2rem 5rem;
    border:2px solid black;
    color:rgb(248, 248, 250);
    position:relative;
    font-weight:bold;
    transition:all 1s;
    overflow: hidden;
}

a:before{
    content:"GITHUB";
    position:absolute;
    left:0px;
    top:0px;
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    transform:rotatex(270deg);
    transform-origin:top;
    transition:all 1s;
    background-color: pink;
    font-weight: bold;
}

a:after{
    content:"GITHUB";
    position:absolute;
    top:0px;
    left:0px;
    display:flex;
    justify-content: center;
    align-items:center;
    transform:rotatex(270deg);
    transform-origin:top;
    transition:all 1s;
    transition-delay: 0.5s;
    height:100%;
    width:100%;
    transition:all 2s;
    background-color: red;
    font-weight: bold;
}

a:hover:focus:before{
    transform:rotatex(0deg);
}

a:hover:focus:after{
    transform:rotatex(0deg);
}
